{% extends 'flatpages/default.html' %}

{% load custom_tags%}

{% block title %}
News
{% endblock title %}

{% block content %}
    <h1>Все новости</h1>
    <form action="" method="get">
        {{filterset.form.as_p}}
        <input type="submit" value="Найти">
    </form>
    <hr>
    {% if news %}
        <table>
            <tr>
                <td>Название</td>
                <td>Описание</td>
                <td>Категория</td>
                <td>Дата Выпуска</td>
            </tr>
            {% for new in news %}
            <tr>
                <td>{{ new.title|truncatechars:10 }}</td>
                <td>{{ new.content_text| truncatechars:15 }}</td>
                <td>
                    {% for cat in category_list %}
                    {{cat}}
                    {% endfor %}
                </td>

                <td>{{ new.date_creation}}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>Новостей пока нет!</h2>
   {% endif %}

    {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}